/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */


/* 新添加的內容 */
/* ------------------------------------- */
/* 代碼框背景色和字體顔色,與hljs一樣就行 */
/* 必須配置(把下面.hljs的color和background複製到這裏來) */
#article-container pre, 
#article-container figure.highlight {
  background: #1E1E1E;  
  color: #DCDCDC
}

/* 代碼框工具欄 (如果你關掉了copy、lang和shrink,可不用配置這個 */
#article-container figure.highlight .highlight-tools {
    color: #DCDCDC;
    background: #1E1E1E
}

/* 代碼框行數(如果已經關掉line_number,可以不用配置這個) */
#article-container figure.highlight .gutter pre {
    background-color: #1E1E1E;
    color: #DCDCDC
}

/* 代碼塊figcaption配置(hexo自帶標簽https://hexo.io/zh-tw/docs/tag-plugins.html#Code-Block) */
/* 不需要可以不用配置這個 */
#article-container figure.highlight figcaption,
#article-container figure.highlight figcaption a {
  color: #DCDCDC !important
}

/* 代碼框滾動條 (需要可配置，默認為主題主顔色）*/
/* 不需要可以不用配置這個 */
#article-container figure.highlight table::-webkit-scrollbar-thumb {
    background: #DCDCDC !important
}


#article-container figure.highlight .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #1E1E1E;
    color: #DCDCDC;
  }
  
  .hljs-keyword,
  .hljs-literal,
  .hljs-symbol,
  .hljs-name {
    color: #569CD6;
  }
  .hljs-link {
    color: #569CD6;
    text-decoration: underline;
  }
  
  .hljs-built_in,
  .hljs-type {
    color: #4EC9B0;
  }
  
  .hljs-number,
  .hljs-class {
    color: #B8D7A3;
  }
  
  .hljs-string,
  .hljs-meta-string {
    color: #D69D85;
  }
  
  .hljs-regexp,
  .hljs-template-tag {
    color: #9A5334;
  }
  
  .hljs-subst,
  .hljs-function,
  .hljs-title,
  .hljs-params,
  .hljs-formula {
    color: #DCDCDC;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #57A64A;
    font-style: italic;
  }
  
  .hljs-doctag {
    color: #608B4E;
  }
  
  .hljs-meta,
  .hljs-meta-keyword,
  .hljs-tag {
    color: #9B9B9B;
  }
  
  .hljs-variable,
  .hljs-template-variable {
    color: #BD63C5;
  }
  
  .hljs-attr,
  .hljs-attribute,
  .hljs-builtin-name {
    color: #9CDCFE;
  }
  
  .hljs-section {
    color: gold;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  /*.hljs-code {
    font-family:'Monospace';
  }*/
  
  .hljs-bullet,
  .hljs-selector-tag,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: #D7BA7D;
  }
  
  .hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
  }
  
  .hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
  }